body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background: #01472c;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

header .container {
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #e67e22;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #d35400;
}

section {
    padding: 60px 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #2c3e50;
}

.offerings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.offering {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.offering h3 {
    margin-top: 0;
    color: #e67e22;
}

.offering p {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #616060;
    border-radius: 5px;
}

form button {
    background-color: #01472c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #12ef8f;
}


footer h2 {
    color: #fff;
}

footer {
    background: #01472c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    max-width: 800px;
    margin: 0 auto;
}

footer .social-media {
    margin-bottom: 20px;
}

footer .social-media a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-media img {
    width: 40px;
    height: 40px;
}

footer p {
    margin: 0;
}